################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/clemouk.github.io/CopilotIndices/17.14.1710.49791
/.vs/clemouk.github.io/v17
/.vs
